<!DOCTYPE html>
<html>
  <head>
    <title>NewsDog Terms of Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body> 
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>NewsDog Terms of Service</h1>
				<article>
					<p>Date of Last Revision: Oct 10, 2015</p>
					<p>
Please read this User Agreement fully and carefully before using newsdog.today (the "Site") and the services, features, content or applications offered by NewsDog ("we", "us" or "our") (together with the Site, the "Services"). This User Agreement set forth the legally binding terms and conditions for your use of the Site and the Services.</p>
				
					<p>NewsDog is only for people 13 years old and older. If we learn a child under 13 is using our service, we’ll have to terminate the child’s account.</p>

					<h3>Privacy Policy</h3>
					<p>For information about the collection, use, and disclosure of information, as well as your choices and control over such collection, use, and disclosure, please review the NewsDogPrivacy Policy, available here <a href="http://newsdog.today/privacy">http://newsdog.today/privacy</a>.</p>
					<h3>Prohibitions</h3>
					<p>You agree not to do any of the following:</p>
					<ol>
					<li><p>* Use, display, mirror or frame the Services or any individual element within the Services, NewsDog’s name, any NewsDog trademark, logo or other proprietary information, or the layout and design of any page or form contained on a page, without NewsDog’s express written consent;</p><p>* Access, tamper with, or use non-public areas of the Services, NewsDog’s computer systems, or the technical delivery systems of NewsDog’s providers;</p><p>* Attempt to probe, scan or test the vulnerability of any NewsDog system or network or breach any security or authentication measures;</p><p>* Avoid, bypass, remove, deactivate, impair, descramble or otherwise circumvent any technological measure implemented by NewsDog or any of NewsDog’s providers or any other third party (including another user) to protect the Services or Content;</p><p>* Attempt to access or search the Services or Content or download Content from the Services through the use of any engine, software, tool, agent, device or mechanism (including spiders, robots, crawlers, data mining tools or the like) other than the software and/or search agents provided by NewsDog or other generally available third-party web browsers;</p><p>* Use any meta tags or other hidden text or metadata utilizing a NewsDog trademark, logo URL or product name without NewsDog’s express written consent;</p><p>* Use the Services or Content, or any portion thereof, for any commercial purpose or for the benefit of any third party or in any manner not permitted by these Terms;</p><p>* Forge any TCP/IP packet header or any part of the header information in any email or newsgroup posting, or in any way use the Services or Content to send altered, deceptive or false source-identifying information;</p><p>* Attempt to decipher, decompile, disassemble or reverse engineer any of the software used to provide the Services or Content;</p><p>* Interfere with, or attempt to interfere with, the access of any user, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, or mail-bombing the Services;</p><p>* Collect or store any personally identifiable information from the Services from other users of the Services without their express permission;</p><p>* Impersonate or misrepresent your affiliation with any person or entity;</p><p>* Violate any applicable law or regulation; or</p><p>* Encourage or enable any other individual to do any of the foregoing.</p></li>
					</ol>
					<p>Although we’re not obligated to monitor access to or use of the Services or Content, we have the right to do so for the purpose of operating the Services, to ensure compliance with these Terms, and to comply with applicable law or other legal requirements. We have the right to investigate violations of these Terms or conduct that affects the Services. We may also consult and cooperate with law enforcement authorities to prosecute users who violate the law.</p>

					<h3>Copyright Policy</h3>
					<p>NewsDog respects copyright law. If you believe that a posting infringes on your copyrights, you may submit to us a notification pursuant to the Digital Millennium Copyright Act (“DMCA”). Do not use this procedure for anything unrelated to copyright infringement.</p>
					<p>Your notification of claimed infringement must include the following information: (1) an electronic or physical signature of the owner or of the person authorized to act on behalf of the owner of the copyright interest; (2) identification of the copyrighted work (or works) that you claim has (or have) been infringed; (3) a description of the material that you claim is infringing, and the location where the original or an authorized copy of the copyrighted work exists (for example, the URL of the page of the website where it is lawfully found; the name, edition and pages of a book from which an excerpt was copied, etc.); (4) a clear description of where the infringing material is located, including as applicable its URL, so that we can locate the material; (5) your name, address, telephone number, and e-mail address; (6) a statement that you have a good-faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and (7) a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner’s behalf.</p>
					<p>You can report alleged copyright infringement by emailing the above information to copyright@newsdog.today.</p>

					<h3>Disclaimers</h3>

					<p>All information, content, links, websites or other resources on our APP’s are from third-party websites, advertising, or resources. We provide these links only as a convenience for you. We do not endorse, verify or vouch for and are not responsible for any view expressed, or the content, products or services on or available from those websites, advertising, or resources or links displayed on such websites. You acknowledge sole responsibility for and assume all risk arising from, your use of any third-party websites, advertising, or resources.</p>

					<p>We and our licensers exclusively own all right, title and interest in and to the Services. All rights to the Content, News Content and Advertising Content are retained by the third-party that is the source of such Content. You acknowledge that the Services and Content are protected by copyright, trademark in accordance with applicable law. You agree not to remove, alter or obscure any copyright, trademark, service mark or other proprietary rights notices incorporated in or accompanying the Services or Content.</p>

					<p>This agreement does not authorize you to, and you may not, copy, distribute, transfer, modify, publicly display, publicly perform or create derivative works based upon Content without our or the third-party’s permission.</p>

					<p>Without limiting the foregoing, WE EXPLICITLY DISCLAIM ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, QUIET ENJOYMENT OR NON-INFRINGEMENT, AND ANY WARRANTIES ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE. We make no warranty that the Services will meet your requirements or be available on an uninterrupted, secure, or error-free basis. We make no warranty regarding the quality, accuracy, timeliness, truthfulness, completeness or reliability of any Content. We do not create, prepare or maintain any News Content provided by or available on third-party websites or resources that are accessible via our Services, and we assume no liability or responsibility for any such third-party News Content. Under no circumstances will we be liable, directly or indirectly, to any party for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such News Content. Your use of and reliance on such News Content will be at your own risk.</p>

					<p>You acknowledge and agree that as most of internet software and Services, the Software or the Services may be under the influence of various factors including but not limited to reasons from the user, quality of the internet service and social environment, and may also be subject to various security problems including but not limited to actual disturbance in case of illegal use of user information as well as threatened insecurity of your terminal device information and data due to possible presence of viruses, Trojans or other malwares in other software downloaded by the user or other websites visited by the user, which in turn affect the normal use of the Software or the Services. Therefore, you should have higher awareness of information safety and protection for personal information and pay attention to protecting your passwords to avoid losses.</p>

					<h3>Limitation of Liability</h3>
					<p>TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL WE BE LIABLE FOR ANY DAMAGES (INCLUDING, WITHOUT LIMITATION, INCIDENTAL AND CONSEQUENTIAL DAMAGES, PERSONAL INJURY/WRONGFUL DEATH, LOST PROFITS, OR DAMAGES RESULTING FROM LOST DATA OR BUSINESS INTERRUPTION) RESULTING FROM THE USE OR INABILITY TO USE THIS WEB SITE OR APP OR THE CONTENT, OR ANY FAILURE OF PERFORMANCE, ERROR, OMISSION, INTERRUPTION, EFFECT, DELAY OR DEFECT IN OPERATION OR TRANSMISSION, VIRUS, LINE SYSTEM FAILURE, OR LOSS OF USE RELATED TO THIS WEB SITE OR APP, WHETHER BASED ON WARRANTY, CONTRACT, TORT, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT WE ARE ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IF YOU ARE DISSATISFIED WITH THIS WEB SITE, APP, OR THESE TERMS OF Service, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE YOUR USE OF THE WEB SITE OR APP.</p>




					<h3>Indemnification</h3>
					<p>Upon a request by NewsDog, you agree to defend, indemnify and hold harmless NewsDog and its affiliates, directors, officers, employees and agents against any claims, demands, actions, damages or other liabilities, including expenses and attorney’s fees, that arise from your use of this Web site or App. NewsDog reserves the right, at its own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will cooperate with NewsDog in asserting any available defenses.</p>

					<h3>Arbitration</h3>
					<p>If you become disgruntled with NewsDog for any reason, we’d like the opportunity to work out our differences informally. We strongly encourage you to contact us at support@newsdog.today, and we’ll do our best to resolve the dispute in good faith. </p>

					<p>If we aren’t able to solve the problem that way, we both agree that we will resolve any claims arising from these Terms or the NewsDog service by final and binding arbitration through the American Arbitration Association (“AAA”) under the Commercial Arbitration Rules and Supplementary Procedures for Consumer Related Disputes. </p>

					<p>The arbitration will take place in the United States county where you live or work,  California or another location we both agree upon. Either of us may file a lawsuit in court solely for injunctive relief against the other to stop misuse of NewsDog or intellectual property infringement without first going through arbitration.</p>

					<p>You agree to resolve any dispute you have with us on an individual basis in arbitration, and not as a class arbitration, class action or consolidated proceeding of any kind.</p>
					<h3>Rights and Terms for Apps</h3>
					<h4>Rights in App Granted by NewsDog</h4>
					<p>Subject to your compliance with these Terms, NewsDog grants you a limited non-exclusive, non-transferable, non-sublicenseable license to download and install a copy of the App on a mobile device or computer that you own or control and to run such copy of the App solely for your own personal non-commercial purposes. You may not copy the App, except for making a reasonable number of copies for backup or archival purposes. Except as expressly permitted in these Terms, you may not: (i) copy, modify or create derivative works based on the App; (ii) distribute, transfer, sublicense, lease, lend or rent the App to any third party; (iii) reverse engineer, decompile or disassemble the App; or (iv) make the functionality of the App available to multiple users through any means. NewsDog reserves all rights in and to the App not expressly granted to you under these Terms.</p>

					<h4>Additional Terms for App Store Apps</h4>
					<p>If you accessed or downloaded the App from the Apple Store, then you agree to use the App only: (i) on an Apple-branded product or device that runs iOS (Apple’s proprietary operating system software); and (ii) as permitted by the “Usage Rules” set forth in the Apple Store Terms of Service.</p>
					<p>If you accessed or downloaded the App from any app store or distribution platform (like the Apple Store, Google Play or the Amazon Appstore) (each, an “App Provider”), then you acknowledge and agree that:</p>
					<ol>
					<li><p>* These Terms are concluded between you and NewsDog, and not with App Provider, and that, as between NewsDog and the App Provider, NewsDog, is solely responsible for the App.</p></li>
					<li><p>* App Provider has no obligation to furnish any maintenance and support services with respect to the App.</p></li>
					<li> <p>* App Provider is not responsible for addressing any claims you have or any claims of any third party relating to the App or your possession and use of the App, including, but not limited to: (i) product liability claims; (ii) any claim that the App fails to conform to any applicable legal or regulatory requirement; and (iii) claims arising under consumer protection or similar legislation.</p></li>
					<li><p>* In the event of any third-party claim that the App or your possession and use of the App infringes that third party’s intellectual property rights, NewsDog will be solely responsible for the investigation, defense, settlement and discharge of any such intellectual property infringement claim to the extent required by these Terms.</p></li>
					<li> <p>* You must also comply with all applicable third-party terms of service when using the App.</p></li>
					<li><p>* You agree to comply with all U.S. and foreign export laws and regulations to ensure that neither the App nor any technical data related thereto nor any direct product thereof is exported or re-exported directly or indirectly in violation of, or used for any purposes prohibited by, such laws and regulations. By using the App you represent and warrant that: (i) you are not located in a country that is subject to a U.S. Government embargo, or that has been designated by the U.S. Government as a “terrorist supporting” country; and (ii) you are not listed on any U.S. Government list of prohibited or restricted parties.</p></li>
					</ol>




					<h3>Links to Other Web sites or Applications</h3>
					<p>As a resource to Our users,Our Web sites or Appsmay provide links to other sites. However, because NewsDog does not control the content of these other sites We may link to, We cannot be responsible for the content, practices or standards of third party sites. Inclusion of any third party link does not imply a recommendation or endorsement by Us. We are not responsible for and will not have any liability for any damages or injuries of any kind arising in connection with the content of linked third party sites, sites framed within Our Web sites or Apps, or third-party advertisements. We do not make any representations regarding the content or accuracy of third-party sites. Your use of third-party sites is at your own risk and subject to the terms and conditions of use for such sites.</p>
					<h3>Use in the United States</h3>
					<p>The information on Web sites and Apps is intended for use only by U.S. residents only. Other countries may have laws and regulatory requirements that differ from those in the United States and may require different or additional information. By using aWeb site or App, you hereby agree that any and all information collected through the Web site or App will be transferred to the United States for processing.</p>
					<h3>Operability of Mobile App</h3>
					<p>We do not warrant that the App will be compatible or interoperable with your mobile device or any hardware, software, equipment or device installed on your mobile device or used by you to access and use the mobile application in connection with your mobile device (“Accessories”). You acknowledge that compatibility and interoperability problems: (a) may cause the performance of the App, your mobile device and any Accessories to diminish or fail completely; (b) may result in permanent damage to your mobile device and any Accessories; (c) may result in a loss of data on your mobile device or Accessories; or (d) may result in the corruption of software and files located on your mobile device and any Accessories. You acknowledge and agree that NewsDog shall have no liability to you for any losses suffered resulting from or arising in connection with compatibility or interoperability problems.</p>
					<h3>Other Terms and Conditions</h3>
					<p>If any provision of this Agreement is unlawful, void or unenforceable, you agree that the provision will be enforced to the maximum extent permissible and the remaining provisions contained in this Agreement shall continue in full force and effect.</p>
					<h3>Changes to Terms of Service</h3>
					<p>We reserve the right to make additions, deletions, or modifications to these Terms of Service at any time without prior notification.</p>
					<h3>Contact</h3>
					<p>We welcome all questions, concerns and feedback you might have about these terms. If you have suggestions for us, let us know at support@newsdog.today.</p>

				</article>
			</div>
		</div>
	</div>
  </body>
</html>
